@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  background-color: #f6fafd;
  font-family: 'Inter', sans-serif;
}

.line:hover::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 6px;
  background-color: #2dc8a8;
}

.bg-login {
  background: rgb(2, 0, 36);
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(236, 236, 240, 0.5) 0%,
      rgba(9, 44, 76, 0.9) 100%
    ),
    url('../assets/images/bg.jpeg');
  background-position: center;
  background-size: cover; /* or contain, depending on your requirement */
  background-repeat: no-repeat;
}
